<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
    <!-- navigation bar -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <th:block layout:fragment="content"></th:block>
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>