<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
</head>
<body>
    <div class="container my-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                </tr>
            </thead>
            <tbody th:if="${questionList != null}">
                <tr th:each="question, loop : ${questionList}">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                    </td>
                    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <!--                <td>[[${question.subject}]]</td>-->
                    <!--                <td>[[${question.createDate}]]</td>-->
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>