<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <!-- 질문 -->
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:utext="${question.content == null ? '' : @commonUtil.markdown(question.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/question/vote/${question.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                    </a>
                    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                       th:text="수정"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}">
                    </a>
                    <a href="#" th:data-uri="@{|/question/delete/${question.id}|}"
                       th:text="삭제"
                       class="delete btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                    >
                    </a>
                </div>
            </div>
        </div>
        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
        <!-- 답변 반복 시작 -->
        <div class="card my-3" th:each="answer : ${question.answerList}">
            <a th:id="|answer_${answer.id}|"></a>
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:utext="${answer.content == null ? '' ? @commonUtil.markdown(answer.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/answer/vote/${answer.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->
        <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" method="post" class="my-3" th:object="${answerForm}">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <textarea name="content" sec:authorize="isAuthenticated()" rows="10" class="form-control"></textarea>
            <textarea name="content" sec:authorize="isAnonymous()" rows="10" class="form-control" disabled></textarea>
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
    </div>
<script layout:fragment="script">
    // 삭제 눌렀을 때 처리
    const deleteElements = document.getElementsByClassName("delete");
    Array.from(deleteElements).forEach(function (element) {
        element.addEventListener('click', function () {
            // class로 delete가 있는 항목에 대해서 클릭을 하였을 경우 실행
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    // 추천 버튼 클릭
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>

</html>